In [1]:
strVal = 'data science'               # 문자열 변수
nVal = 12345                          # 정수형 변수
fVal = 1.2                            # 실수형 변수
lVal = ['data', 'science']            # 리스트
dVal = {'lecture' : 'data science'}   # 딕셔너리
bVal = True                           # 논리형 변수(참/거짓)

In [11]:
# 기본적인 주석

In [13]:
''' 
이런 형태의 주석도 많이 사용
'''

' \n이런 형태의 주석도 많이 사용\n'

In [4]:
strVal

'data science'

In [3]:
nVal

12345

In [5]:
fVal

1.2

In [6]:
lVal

['data', 'science']

In [7]:
dVal

{'lecture': 'data science'}

In [8]:
bVal

True

In [9]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

strVal :  data science
nVal :  12345
fVal :  1.2
lVal :  ['data', 'science']
dVal :  {'lecture': 'data science'}
bVal :  True

In [10]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

strVal :  <class 'str'>
nVal :  <class 'int'>
fVal :  <class 'float'>
lVal :  <class 'list'>
dVal :  <class 'dict'>
bVal :  <class 'bool'>

In [ ]:
'''
같은 변수명일 경우, 이전 데이터를 덮어씀
'''
nVal = 16                          # 정수형 변수
fVal = 3.14                        # 실수형 변수
print('10진수 표현 : ', nVal)       # 10진수
print('2진수 표현 : ', bin(nVal))  # 2진수
print('8진수 표현 : ', oct(nVal))  # 8진수
print('16진수 표현 : ', hex(nVal))  # 16진수

In [14]:
btVal = True                           # 논리형 변수(참)
bfVal = False                          # 논리형 변수(거짓)

In [15]:
btVal = TRUE                          # 논리형 변수(참) - 오류
bfVal = FALSE                          # 논리형 변수(거짓) - 오류

NameError: name 'TRUE' is not defined

In [16]:
btVal = true                          # 논리형 변수(참) - 오류
bfVal = false                          # 논리형 변수(거짓) - 오류

NameError: name 'true' is not defined

In [17]:
10 == 11

False

In [18]:
10 != 11

True

In [19]:
10 >= 11

False

In [20]:
10 <= 11

True

In [21]:
10 > 11

False

In [22]:
10 < 11

True

In [23]:
nBig = 100
nSmall = 10

In [24]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

False
True
True
False
True
False

In [25]:
print(nBig =< nSmall)     # 오류

SyntaxError: invalid syntax (2910044186.py, line 1)

In [26]:
print(nBig => nSmall)     # 오류

SyntaxError: invalid syntax (1053890005.py, line 1)

In [27]:
strData = 'data'               # 문자열 변수
strSci = "Science"             # 문자열 변수

In [28]:
strLecture = strData + strSci

In [29]:
strLecture

'dataScience'

In [30]:
strLecture = strData +" "+ strSci
strLecture

'data Science'

In [31]:
strLecture.split()

['data', 'Science']

In [32]:
lSeperate = strLecture.split() # split()으로 공백을 기준으로 문자열 구분아혀 lSeperate 변수에 저장

In [33]:
type(lSeperate)

list

In [34]:
strHello = "안녕하세요. 반갑습니다."

In [35]:
strHello.find("반갑")

7

In [36]:
strHello.find("hello")

-1

In [37]:
"반갑" in strHello

True

In [38]:
strHello.replace('.', '?')    # .을 모두 ?로 변경

'안녕하세요? 반갑습니다?'

In [39]:
strHello.replace('.', '?')                  
strHello.replace("하세요", "하셔유")       # 안녕하셔유? 가 될까요?

'안녕하셔유. 반갑습니다.'

In [40]:
strHello

'안녕하세요. 반갑습니다.'

In [41]:
strNewHello = strHello.replace('.', '?')                    # strHello를 replace하여 strNewHello에 저장   
strNewHello = strNewHello.replace("하세요", "하셔유")       # strNewHello를 replace하여 strNewHello에 저장
strNewHello

'안녕하셔유? 반갑습니다?'

In [42]:
strHello.strip('반갑습니다.')

'안녕하세요. '

In [43]:

strHello

'안녕하세요. 반갑습니다.'

In [44]:
lnData = [1,2,3,4,5]     # lnData를 리스트로 생성
print(lnData)
print('type : ', type(lnData))

[1, 2, 3, 4, 5]
type :  <class 'list'>

In [45]:
print(lnData[0])    # lnData 리스트의 0번 인덱스의 값 출력
print(lnData[3])    # lnData 리스트의 3번 인덱스의 값 출력

1
4

In [46]:
lnData[0] = lnData[4]   # lnData[4]의 값을 lnData[0]에 저장
print(lnData)           # lnData 리스트를 출력

[5, 2, 3, 4, 5]

In [47]:
print(lnData[2:4])      # lnData[4]에 저장된 5는 출력되지 않음

[3, 4]

In [48]:
lnData = [1,2,3,4,5]
lstrData=['a', 'b', 'c']

# 두 개의 서로다른 자료형을 가진 리스트를 병합
lnData + lstrData

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [49]:
lnData.append(10)   # 10을 맨 뒤에 추가
lnData

[1, 2, 3, 4, 5, 10]

In [50]:
lnData.insert(0, 'python')  #'python'문자열을 0번 인덱스에 추가하고, 기존 인덱스에 저장된 데이터는 하나씩 뒤로 밀림(인덱스가 +1 추가)
lnData

['python', 1, 2, 3, 4, 5, 10]

In [51]:
lnData.remove('python')     # 'python' 데이터를 삭제
lnData

[1, 2, 3, 4, 5, 10]

In [52]:
del lnData[5]              # del 명령어를 통해 인덱스를 지정하여 삭제
lnData

[1, 2, 3, 4, 5]

In [53]:
lnData

[1, 2, 3, 4, 5]

In [54]:
lnData.pop(0)     # 0번 인덱스의 데이터를 삭제
lnData

[2, 3, 4, 5]

In [55]:
lnData.pop()     # 인덱스 지정이 없으면, 마지막 인덱스의 값을 삭제
lnData

[2, 3, 4]

In [56]:
lnData.clear()  # 리스트의 모든 데이터를 삭제
lnData

[]

In [57]:
# 튜플의 기본 구조
tVal = ("사과", "딸기", "바나나", "토마토", "키위")

print(tVal)
print(type(tVal))

('사과', '딸기', '바나나', '토마토', '키위')
<class 'tuple'>

In [58]:
# 튜플에 저장된 데이터는 변경이 불가능
tVal[0] = "포도"

TypeError: 'tuple' object does not support item assignment

In [59]:
# count() 함수를 이용하여 튜플에 저장된 특정 데이터의 개수를 확인
tData = ( 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

3

In [60]:
# len()함수를 이용하여 튜플에 저장된 전체 데이터 개수를 확인
len(tVal)

5

In [61]:
len(tData)

11

In [62]:
print(tData[2:5])

(3, 1, 2)

In [63]:
tTuple = tVal+ tData
print(tTuple)

('사과', '딸기', '바나나', '토마토', '키위', 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [64]:
tData * 2

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [65]:
tData

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [66]:
tData2 = tData * 2
print(tData2)

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [71]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x2666e4b0868
tVal memory =  0x2666e8cf9e8
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [72]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x2666e8cf9e8
tVal memory =  0x2666e731cc8
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [73]:
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))

{1, 2, 3, 4, 5}
<class 'set'>

In [75]:
sVal[1:2]

TypeError: 'set' object is not subscriptable

In [76]:
# add 함수를 이용하여 데이터를 추가할 수 있음
sVal.add(100)
print(sVal)

{1, 2, 3, 4, 5, 100}

In [77]:
# update 함수를 이용하여 여러개의 데이터를 추가할 수 있음
sVal.update([200, 300])
print(sVal)

{1, 2, 3, 4, 5, 100, 200, 300}

In [78]:
# remove 함수를 이용하여 데이터를 삭제할 수 있음
sVal.remove(200)
print(sVal)

{1, 2, 3, 4, 5, 100, 300}

In [79]:
# clear() 함수를 이용하여 데이터를 초기화 할 수 있음
sVal.clear()
print(sVal)

set()

In [80]:
sVal = {100, 200, 300, 400, 500}
sData = {"a", "b", "c", "c", 100, 300}
print(sVal)
print(sData)

{100, 200, 300, 400, 500}
{100, 'b', 'a', 300, 'c'}

In [81]:
# intersection() 함수를 이용하여 교집합을 만들 수 있음
sVal.intersection(sData)

{100, 300}

In [82]:
# deference() 함수를 이용하여 차집합을 만들 수 있음
sVal.difference(sData)

{200, 400, 500}

In [83]:
# "-" 연산자로도 가능
sVal - sData

{200, 400, 500}

In [84]:
# union() 함수를 이용하여 합집합을 만들 수 있음
sVal.union(sData)

{100, 200, 300, 400, 500, 'a', 'b', 'c'}

In [85]:
# "+"연산자는 불가능
sVal + sData

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [86]:
# symetric_difference()를 이용하여 합집합에서 교집합을 뺀 집합을 만들 ㅅ ㅜ있음
sVal.symmetric_difference(sData)

{200, 400, 500, 'a', 'b', 'c'}

In [87]:
# 딕셔너리 기본 구조는 다음과 같이 표현할 수 있음
dVal = {
    'name' : '이컴공',
    'email' : 'computer@hoseo.edu',
    'address' : '충남 아산시'
}
print(dVal)
print(type(dVal))

{'name': '이컴공', 'email': 'computer@hoseo.edu', 'address': '충남 아산시'}
<class 'dict'>

In [88]:
dData = {
    "사과" : 300, 
    "포도" : 200, 
    "배" : 500,
    "키위" : 100
}

In [89]:
# 키를 이용한 항목 검색
print(dData["배"])

500

In [90]:
# get() 함수를 이용한 항목 검색
dData.get("배")

500

In [91]:
# 새로운 키 추가를 통한 항목 추가
dData["딸기"] = 100
print(dData)

{'사과': 300, '포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [92]:
# pop을 이용한 항목 삭제
dData.pop("사과")

300

In [93]:
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [94]:
dData.pop()

TypeError: pop expected at least 1 arguments, got 0

In [95]:
# sorted 함수를 이용한 정렬
sorted(dData)

['딸기', '배', '키위', '포도']

In [96]:
# sorted와 values 함수를 이용하여 값을 정렬할 수 있음
sorted(dData.values())

[100, 100, 200, 500]

In [97]:
# 실제 dData는 변화가 없음
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [98]:
# 함수 f(x)를 생성하고 x 값을 입력으로 받음
def f(x):
  # x에 10을 더한 값을 출력
  return x + 10

In [99]:
f(2)

12